<div class="box wide">
  <form method="POST" action="/users/reveal">
    <label for="password">Password:</label>
    <input type="hidden" id="ids" name="ids" value=<%= params[:ids] %>/>
    <input type="text" id="password" name="password"><br>
    <input type="submit"" value = "Reveal!"/>
  </form>
</div>
