<div class="box wide">
  <div class="legend">Reveal Sealed Data</div>
  <form method="POST" action="/users/reveal">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br>
    <input type="submit"" value = "Reveal!"/>
  </form>
</div>
